html{
    background-color: #13222e;
}
.container{
    display: flex;
    justify-content: center;
}
.BallContainer{
    margin-top: 50px;
}
.Ball{
    width: 500px;

}
.text{
    margin-left: 25px;
    margin-top: 280px;
    position: absolute;
    color: white;
    max-width: 80px;
}
.buttonBox{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
}
button{
    border: none;
    background-color: rgb(38, 38, 120);
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    border: solid rgb(122, 117, 244);
}
button:hover{
    border: none;
    background-color: rgb(23, 23, 72);
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    border: solid rgb(82, 79, 170);
}